<html>
  <head>
    <title></title>
  </head>
  <body>
    <div>
      <h1>Volume Calculator</h1>
      <p>Enter three dimensions for volume</p>
      <form form method="post">
        <div>
          <input name="length" value="{{length}}" />
        </div>
        <div>
          <input name="breadth" value="{{breadth}}" />
        </div>
        <div>
          <input name="height" value="{{height}}" />
        </div>

        <p>{{output}}</p>
        <button>Calculate</button>
      </form>
    </div>
  </body>
</html>
